@import './variables';
@import './mixins';

.sectionThree {
  //background: rgba(0, 153, 255, 0.03);
  background: lavender;
  margin: 10em 0 0 0;
  padding: 2em 0;
}
.sectionThreeContent {
  width: 95%;
  //background: rgb(226, 125, 112);
  //background: chocolate;
  margin: auto auto auto 3em;
}
@media (min-width: 1400px) {
  .sectionThreeContent {
    width: 1300px;
    margin: auto;
  }
}
.topText {
  text-align: center;
  //background: rgba(255, 192, 203, 0.459);
  margin: auto;
  @include flexRegular(column, center);
  align-items: center;
  position: relative;
}
.titleSmall {
  font-weight: 400;
  font-size: 24px;
  color: #030749;
}
.titleBg {
  font-weight: bold;
  font-size: 36px;
  color: #030749;
  line-height: 15px;
  position: relative;
  //   background: #bcc;
  width: 100%;
}

@media (max-width: 1080px) {
  .titleBg {
    line-height: 45px;
  }
  .sectionThreeContent {
    margin: 0;
    //background: pink;
    width: 100%;
  }
}

@media (max-width: 850px) {
  .sectionThree {
    position: relative;
  }
  .sectionThreeContent {
    margin: 1.5em auto;
    //background: pink;
    width: 90%;
  }
  .titleSmall {
    font-size: 1em;
  }
  .titleBg {
    line-height: 40px;
    font-size: 1.45em;
  }
}

@media (max-width: 450px) {
}
